/*
 * Picasa does not appear to be able to handle multiple element selectors
 */

.pau-error {
	color: red;
}

/* Hide the post meta and utility sections for plugin generated pages */
.post-picasa-album-uploader .entry-meta,
.post-picasa-album-uploader .entry-utility {
	display: none;
}

/* ========================== */
/* = Minibrowser formatting = */
/* ========================== */

/* Applies to content area of the minibrowser window - reset for visibility */
.post-pau-minibrowser {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-size: 100%;
  vertical-align: baseline;
	line-height: 1.5;
	background: none white;
}

.post-pau-minibrowser .pau-header {
	font-size: 120%;
}

/* Applies to div section around all photos */
.post-pau-minibrowser .pau-images {
}

/* Applies to each img displayed */
.post-pau-minibrowser .pau-img {
}

/* Format Form Table field headers */
.post-pau-minibrowser .pau-img-header {
	font-size: 110%;
}

.post-pau-minibrowser .pau-img-text {
	width: 35em;
}

.post-pau-minibrowser .pau-img-textarea {
	height: 4em;
	width: 35em;
}

/* ============================================================ */
/* = Hide major elements of a page when Minibrowser is active = */
/* ============================================================ */

/* Hide Meta and Navigational elements of a post */
.picasa-album-uploader-minibrowser .entry-meta, 
.picasa-album-uploader-minibrowser .entry-utility {
	display: none;
}

/* Hide colophon (footer section) */
.picasa-album-uploader-minibrowser #colophon {
	display: none;
}

/**
 * = Theme Interoperability = 
 */

/* Attempt to hide navigation definition */
.picasa-album-uploader-minibrowser #nav,
.picasa-album-uploader-minibrowser .nav,
.picasa-album-uploader-minibrowser #access,
.picasa-album-uploader-minibrowser .menu
{
	display: none;
}

/* Attempt to hide login section */
.picasa-album-uploader-minibrowser #loginout {
	display: none;
}

/* =========================== */
/* = Plugin Interoperability = */
/* =========================== */

/**
 * Plugin:  add-to-any
 *
 * Hide the section added by add-to-any in a page entry
 */
.post-picasa-album-uploader .addtoany_share_save_container,  
.picasa-album-uploader-minibrowser .addtoany_share_save_container {
	display: none;
}